
body{
    background-color: wheat;
}

#content{
	font-weight: 888px;
    margin: auto;
    background-color: #fdffae;
border-radius: 20px;
padding: 20px;

}
#imageright{
    margin-left: 20px;  
   border: 2px solid #0a714e ;
    float: right;
	margin-left: 20px;

}
#imageright img{
width: 200px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

#imageleft{
    border-radius: 20px;
margin-bottom: 80px ;
 margin-right: 30px;
border: 2px solid #0a714e ;
 float: left;
 
    margin-right: 40 px;
}
#kepszoveg{
    font-style: italic;
    font-weight: bold;	
}


h1{
font: forestgreen large;

}

h2{

font: forestgreen large;

}



p li{
    text-align: justify;
}


a, a:visited{
color: blue;


}

a:hover{
    color: red
}